<% layout("/layouts/boilerplate") %>
 <div class="row">
<div class="col-6 offset-3 mt-3"> 
    <h1 style="text-align: center; color:#800020;;font-weight: bold;">Login</h1>
    <form method="post" action="/login" novalidate class="needs-validation">
    <div class="mb-3 mt-3">
        <label for="username" class="form-level"><h4>Username</h4></label>
         <input placeholder="enter username" id="username" name="username" class="form-control" required> 
         <div class="invalid-feedback">Enter username</div>
     </div>
     <div class="mb-3">
        <label for="password" class="form-level"><h4>Password</h4></label>
         <input type="password" placeholder="enter password" id="password" name="password" class="form-control" required> 
         <div class="invalid-feedback">Enter password</div>
     </div>
     <button class="btn btn-primary mt-2">Submit</button>
    </form>
     </div>
     </div>