<% layout("/layouts/boilerplate") %>
<h1 style="text-align: center;margin-bottom:3rem;color:rgb(165, 197, 197);;font-size:5rem;text-shadow: 5px 5px 10px black;">
  Your Comments&nbsp;&nbsp;</h1>
<div id="likedposts" class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% if (comments.length > 0) { %>
    <% for(comment of comments){ %>
      <div class="post card col index post-card">
        <div class="card-body mt-2">
        <h5 class="card-title">"<%=comment.comment%>"</h5>
        <p class="card-text"><%=comment.commented_at.toString().split(" ").slice(0,4).join(" ")%> </p>
      </div>
      </div>
    <% } %>
  <% } else { %>
    <p>You have not any comments on posts yet.</p>
  <% } %>
</div>
 